<!--Main layout-->

      <!---->
      <section  id="Overview" class="mb-4">
        
     

      
        <div class="card">
          <div class="card-header text-center py-3">
            <h5 class="mb-0 text-center">
            
              <form method="POST" action="/projects">
                <div> 
                  <select class="browser-default custom-select" name="team_id" onchange="this.form.submit();" required>
                    <option value="" disabled selected>Please Choose Team</option>
                    <% for(let i =0 ;  i < teams.length ; i++) {%>
                    <option value='<%=teams[i].Team_id%>'><%=teams[i].TeamName%></option>
                    <% }%>
             
                </select></div>
             
        
              </form>
        
            </h5>
          </div>
          <div class="card-body">
            <div class="table-responsive">
                <table class="table table-hover text-nowrap">
                  <thead>
                    <tr>

                      <th scope="col">Title</th>
                      <th scope="col">Project Description</th>
                      <th scope="col">DeathLine</th>
  
                    </tr>
                  </thead>
                  <tbody>
                    <% if(Projects) {%>

                    <% for(let i =0 ;  i < Projects.length ; i++) {%>


                      <tr>


                        <td><%=Projects[i].Title%></td>
                        <td><%=Projects[i].description%></td>
                        <td><%=Projects[i].Deathline%></td>


                      </tr>

                      <% }%>
                      <% } else {%>

                        <tr>


                          <td>EMPTY></td>
                          <td>EMPTY</td>
                          <td>EMPTY</td>
  
  
                        </tr>
                        <% }%>


                  </tbody>
                </table>
        </div>
    </div>
      </section>
    
    
   